@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
.clearbox:after{
    display: block;
    clear: both;
    content: "";   
}

.hui{
     width: 100%;  
     background: #f0f0f0; 
     margin-top: 30px;
     padding-bottom: 40px;
}
.dade1{
    width: 100%;
    position: relative;
}
.dade2{
    width: 1200px;
    margin: 0 auto;
}
.top{
    img{
        width: 100%;
    }
}


.dade{
    width: 100%;
    background: black;
}
.xmsc{
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0px;
     .ul1{
        float: left;
        color:white;
        list-style: none;
        li{
            float: left;
            text-align: center;
            padding: 0 15px;
            a{
                color: white;
            }
        }
    }
    .ul2{
        color:white;
        list-style: none;  
        margin-left: 800px;
        li{
            float: left;
            padding: 0 15px;
            text-align: center;
            a{
                color: white;
            }
        }
    }   
}
.xmsc .ul1 li a:hover{
    color: orange;
}
.xmsc .ul2 li a:hover{
    color: orange;
}



.shouji{
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    .div1{
         float: left;       
    }
    .div2{
        float: left;
        margin-left: 70px;     
    }
    .div3{
        float: left;
        border: 1px solid gray;
        padding: 13px;
        margin-left: 90px;
      span{
          background: gainsboro;
        } 
    }
    .div4{
        float: left;
        width: 47px;
        height: 50px;
        border: 1px solid gray;
        border-left: none;
        line-height: 50px;
        text-align: center;
    }
    .ul3{
        float: left;
        list-style: none;
        margin-left: 150px;
        
        li{
            float: left;
            padding: 15px 10px;
            text-align: center;
            span{
               padding: 50px 0px; 
            }
        }
    }
    
}
.shouji .ul3 li>span:hover{
    color: orange;
}

.bottom_1{
    width: 100%;
    background: white;
    position: absolute;
    top: 88px;
    left: 0;
    z-index: 1000;
    display: none;
    .bottom_2{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        .xianshi{
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 60%;
            }
            p{
                font-size: 12px;
            }
        }
    }
}






// hover 效果
.zhong{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    .zuo{
        width: 220px;
    }
    .shoujii{
        color: white;
        width: 200px;
        padding:11px 0px;
        padding-left: 10px;
        float: left;
    }
    .xiaoyuhao{
        float: right;
        margin-right: 10px;
    }
    .fenlei{
        width: 600px;
        height: 460px;
        background: #F7F7F7; /* hover出来的背景颜色*/
        position: absolute;
        left: 210px;
        top: 0px;
        display: none;
        .fenlei_1{
            width: 50%;
            text-align: center;
            img{
                width: 50%;
            }
        }
    }
}
.zuo:hover .fenlei{
    display: block;
}
.diyi{
    width: 210px;
    float: left;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top:0;
    left: 0;
    z-index: 10;
}


.swiper-button-prev{
    margin-left: 230px;
}


//banner下面的图片
.dade2{
    margin-top: 20px;
  .dd1{
      width: 250px;
      float: left;
      background: rgba(0,0,0,0.5);
      ul{
          li{
              list-style: none;
              float: left;
              padding: 8px;
              width:67px;
              p{
                  font-size: 14px;
                  color: white;
                  text-align: center;
              }
              a{
                  font-size: 14px;
                  color: white;
                  text-align: center;
              }
          }
      }
  }  
  .dd2,.dd3,.dd4{
      width: 305px;
      float: left;
      margin-left: 10px;
      img{
          width: 100%;
      }
  }
}

.dade2 .dd2:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 15px 30px gainsboro;
}
.dade2 .dd3:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 15px 30px gainsboro;
}
.dade2 .dd4:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 15px 30px gainsboro;
}




//小米明星单品


.xmmx1{
    position: absolute;
    top: 40px;
    left: 0px;
    display: none;
    
}
.mingxing{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    .xmmx,.xmmx1{
        width: 1200px;
        margin: 0 auto;
        margin-top: 25px;
        .danp{
             margin-bottom: 10px;
            h1{
                font-size: 20px;
                float: left;
                padding: 3px 0px;
                font-weight: bolder;
            }
            .hh{
                float: left;
                margin-left: 1000px;
                span{
                    color: gray;
                    border: 1px solid gainsboro;
                    padding: 3px 10px;
                }
                
                .span_1,.span_2{
                    cursor:pointer;
                }
            }
        }
        .da1{
            float: left;
            width: 230px;
            background: #f0f0f0;
            border-top: 2px solid gold;
            text-align: center;
            padding: 15px 0px;
            img{
                width: 150px;
            }
            .p1{
                font-weight: bolder;
            }
            .p2{
                color: gray;
            }
            .p3{
                color: orange;
            }
        }
        .da2{
            float: left;
            width: 230px;
            background: #f0f0f0;
            border-top: 2px solid gold;
            margin-left: 10px;
            padding: 15px 0px;
            text-align: center;
            img{
                width: 150px;
            }
            .p1{
                font-weight: bolder;
            }
            .p2{
                color: gray;
            }
            .p3{
                color: orange;
            }
        }
    }
        
}

//家电
.jiadian{
    width: 1200px;
    margin: 0 auto;
    .jia{
        padding: 15px 0px 0px 15px;
        .pp1{
            float: left;
            font-size: 20px;
            font-weight: bolder;
        }
        .pp2{
            float: left;
            margin-left: 920px;
        }
    }
  
       .zuos{
            img{
                width: 97%;
            }
        }
        .zuos:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px gainsboro;
        }
        .zuox{
            margin-top: 8px;
            img{
                width: 97%;
            }
        }
        .zuox:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px gainsboro;
        }
   
    .you{
        width:960px;
        float: left;
        position: relative;
        .you1,.you1a{
            float: left;
            width: 230px;
            background: white;
            text-align: center;
            padding-bottom: 20px;
            margin-bottom: 10px;
            position: relative;
            img{
                width: 67%;
            }
        }
        .you1_1{
            display: none;
            background: orange;
            text-align: center;
            width: 230px;
            height: 80px;
            line-height: 80px;
            position: absolute;
            color: white;
            top: 220px;
            left: 0;
        }
        .you1a:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
        }
        .you1:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
        }
        
        .you2,.you2_1{
            float: left;
            width: 230px;
            background: white;
            margin-left: 10px;
            text-align: center;
            padding-bottom: 20px;
            margin-bottom: 10px;
            img{
                width: 67%;
            }
        }
        .you1_2{
            display: none;
            background: orange;
            text-align: center;
            width: 230px;
            height: 80px;
            line-height: 80px;
            position: absolute;
            color: white;
            top: 220px;
            left: 240px;
        }
        .you2:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px gainsboro;
        }
        .you2_1:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px gainsboro;
        }
        .yous:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px gainsboro;
        }
        .youx:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px gainsboro;
        }
        .you3{
            float: left;
            width: 230px;
            background: white;
            margin-left: 10px;
            background: #F0F0F0;
            .yous{
                padding: 23px 10px;
                float: left;
                background: white;
                .yy{
                    float: left;
                    width: 130px;
                }
                .ys{
                   float: left; 
                   width: 80px;
                   padding-top: 20px;
                   img{
                       width: 80%;
                   }
                }
            }
            .youx{
                margin-top:15px;
                padding: 23px 10px;
                float: left;
                background: white;
                .yy{
                    float: left;
                    width: 130px;
                }
                .ys{
                   float: left; 
                   width: 80px;
                   padding-top: 20px;
                   img{
                       width: 60%;
                   }
                }
            }
        }
               
            
            
            
        }      
   

    .zuo{
        width: 240px;
        float: left;
        .zuos{
            img{
                width: 97%;
            }
        }
        .zuos:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px gainsboro;
        }
        .zuox{
            margin-top: 8px;
            img{
                width: 97%;
            }
        }
        .zuox:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px gainsboro;
        }
    }
    .you{
        width:960px;
        float: left;
        .you1{
            float: left;
            width: 230px;
            background: white;
            text-align: center;
            padding-bottom: 20px;
            margin-bottom: 10px;
            position: relative;
            img{
                width: 67%;
            }
        }
        .you1:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
        }
        
        .you2{
            float: left;
            width: 230px;
            background: white;
            margin-left: 10px;
            text-align: center;
            padding-bottom: 20px;
            margin-bottom: 10px;
            img{
                width: 67%;
            }
        }
        .you2:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px gainsboro;
        }
        .yous:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px gainsboro;
        }
        .youx:hover{
            transform: translate3d(0,-2px,0);
            box-shadow: 0px 15px 30px gainsboro;
        }
        .you3{
            float: left;
            width: 230px;
            background: white;
            margin-left: 10px;
            background: #F0F0F0;
            .yous{
                padding: 23px 10px;
                float: left;
                background: white;
                .yy{
                    float: left;
                    width: 130px;
                }
                .ys{
                   float: left; 
                   width: 80px;
                   padding-top: 20px;
                   img{
                       width: 80%;
                   }
                }
            }
            .youx{
                margin-top:15px;
                padding: 23px 10px;
                float: left;
                background: white;
                .yy{
                    float: left;
                    width: 130px;
                }
                .ys{
                   float: left; 
                   width: 80px;
                   padding-top: 20px;
                   img{
                       width: 60%;
                   }
                }
            }
        }
    }
}





//为你推荐
 .wai{
    position: relative;
}
 .tuijian1{
     position: absolute;
     top: 66px;
     left: 0px;
 }
 
.wai{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
 .tuijian,.tuijian1{
    width: 1200px;
    margin-top: 25px;
    float: left;
    .danp{
         margin-bottom: 10px;
        h1{
            font-size: 20px;
            float: left;
            padding: 3px 0px;
            font-weight: bolder;
        }
        .hh{
            float: left;
            margin-left: 1000px;
            span{
                color: gray;
                border: 1px solid gainsboro;
                padding: 3px 10px;
            }
            .span_w,.span_q{
                cursor:pointer;
            }
        }
    }
    .da1{
        float: left;
        width: 230px;
        background: white;
        text-align: center;
        padding: 20px 0px 47px 0px;
        img{
            width: 150px;
        }
        .p1{
            font-weight: bolder;
        }
        .p2{
            color: gray;
        }
        .p3{
            color: orange;
        }
    }
    .da2{
        float: left;
        width: 230px;
        background: white;
        margin-left: 10px;
        padding: 15px 0px;
        text-align: center;
        img{
            width: 150px;
        }
        .p1{
            font-weight: bolder;
        }
        .p2{
            color: gray;
        }
        .p3{
            color: orange;
        }
    }
}   
    
}

.tuijian .da1:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 15px 30px gainsboro;
}
.tuijian .da2:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 15px 30px gainsboro;
}



//热评产品
.reping{
    width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    .danp{
         margin-bottom: 10px;
        h1{
            font-size: 20px;
            float: left;
            padding: 3px 0px;
            font-weight: bolder;
        }
    }
    .da1{
        float: left;
        width: 290px;
        background: white;
        img{
            width:100%;
        }
        .p1{
            font-weight: bolder;
            padding: 0px 15px;
        }
        .p2{
            color: gray;
            padding: 0px 15px;
        }
        .p3{
            font-weight: bolder;
            padding: 0px 15px;
            span{
                color: orange;
                margin-left: 20px;
            }
        }
    }
    .da2{
        float: left;
        width: 290px;
        background: white;
        margin-left: 10px;
        img{
            width: 100%;
        }
        .p1{
            font-weight: bolder;
            padding: 0px 15px;
        }
        .p2{
            color: gray;
            padding: 0px 15px;
        }
        .p3{
            font-weight: bolder;
            padding: 0px 15px;
            span{
                color: orange;
                margin-left: 20px;
            }
        }
    }
}
.reping .da1:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 15px 30px gainsboro;
}
.reping .da2:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 15px 30px gainsboro;
}




//内容
.neirong{
    width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    .danp{
         margin-bottom: 10px;
        h1{
            font-size: 20px;
            float: left;
            padding: 3px 0px;
            font-weight: bolder;
        }
    }
    .da1{
        float: left;
        width: 290px;
        background: white;
        text-align: center;
        border-top: 2px solid orange;
        img{
            width:80%;
        }
        .p1{
            font-weight: bolder;
            padding: 0px 15px;
            font-size: 22px;
        }
        .p2{
            color: gray;
            padding: 0px 15px;
        }
        .p3{
            font-weight: bolder;
            padding: 0px 15px;
            span{
                color: orange;
                margin-left: 20px;
            }
        }
        .p4{
            font-weight: bolder;
            padding: 0px 15px;
        }
        ul{
            margin-left: 100px;
            li{
                float: left;
                margin-left: 30px;           
                border-radius: 50%;
                color: gray;
            }
        }
    }
    .da2{
        float: left;
        width: 290px;
        background: white;
        margin-left: 10px;
        text-align: center;
        img{
            width:80%;
        }
        .p1{
            font-weight: bolder;
            padding: 0px 15px;
            font-size: 22px;
        }
        .p2{
            color: gray;
            padding: 0px 15px;
        }
        .p3{
            font-weight: bolder;
            padding: 0px 15px;
            span{
                color: orange;
                margin-left: 20px;
            }
        }
        .p4{
            font-weight: bolder;
            padding: 0px 15px;
        }
        ul{
            margin-left: 100px;
            li{
                float: left;
                margin-left: 30px;           
                border-radius: 50%;
                color: gray;
            }
        }
    }
}


//视频
.shipin{
    width: 1200px;
    margin: 0 auto;
    .danp{
        padding: 15px 0px 0px 15px;
        .pp1{
            float: left;
            font-size: 20px;
            font-weight: bolder;
        }
        .pp2{
            float: left;
            margin-left: 1000px;
        }
    }
    .da1{
        float: left;
        width: 290px;
        background: white;
        text-align: center;
        img{
            width:100%;
        }
        .p1{
            font-weight: bolder;
            padding: 0px 15px;
        }
        .p2{
            color: gray;
            padding: 0px 15px;
        }
        ul{
            margin-left: 100px;
            li{
                float: left;
                margin-left: 30px;           
                border-radius: 50%;
                color: gray;
            }
        }
    }
    .da2{
        float: left;
        width: 290px;
        background: white;
        margin-left: 10px;
        text-align: center;
        img{
            width:100%;
        }
        .p1{
            font-weight: bolder;
            padding: 0px 15px;
        }
        .p2{
            color: gray;
            padding: 0px 15px;
        }
    }
}   
.shipin .da1:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 15px 30px gainsboro;
}
.shipin .da2:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 15px 30px gainsboro;
}




//预约维修服务
.yuyue{
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
    border-bottom: 1px solid gray;
    ul{
       list-style: none;
        width: 1009px;
        margin: 0 auto;
        li{
            float: left;
            padding: 0px 50px;
            border-right: 1px solid gray;
            text-align: center;
        }
    }
}

.bangzhu{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 10px;
    .zuo{
        ul{
            list-style: none;
            float: left;
            width: 160px;
            margin-top: 30px;
            li{
                padding: 5px;
            }
            .lii{
                font-size: 18px;
                font-weight: bolder;
                color: black;
                padding-bottom: 10px;
            }
        }  
    }
    .you{
        float: left;
        width: 160px;
        text-align: center;
        padding: 0 36px;
    }
}

.di{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    .zuo{
        width: 860px;
        float: left;
       .zuo1{
            float: left;
        }
        .zuo2{
            float: left;
            ul{
                list-style: none;
                margin-left: 10px;
                li{
                    float: left;
                    font-size: 15px;
                }
            }
        }
    }

    .you{
        width: 340px;
        float: left;
        img{
            width: 22%;
        }
    }
}
.di2{
    padding-top: 20px;
    width: 1200px;
    margin: 0 auto;
    color: gray;
    font-size: 20px;
    text-align: center;
}
